body {
  background-image: url("Sprinkles.jpg");
  background-color: hsl(213, 85%, 92%);
  background-blend-mode: overlay;
  text-align: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed; 
  font-family: Georgia, serif;
}

html{
  height: 100%;
  width: 100%;
}

#myCanvas1 {
  border: 1px solid black;
  background-image: url("https://media.istockphoto.com/id/1080712902/vector/empty-vending-machine-isolated-on-white-background-automat-with-shelves-for-food-or-other.jpg?s=612x612&w=0&k=20&c=eNnKedCPMvQLRzluh9JclKNl3U_SwCyftGmIeN2DmhY=");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

#myCanvas2 {
  border: 1px solid black;
  border-radius: 30px;
}


